.contact-page{
    padding-top: 150px;
    margin: 0 50px;
    text-transform: uppercase;

    .contact{
        display: grid;
        grid-template-columns: 37% 57%;
        grid-gap: 6%;
        justify-content: center;
        margin: 0 100px;
    }

    .map{
        margin: 100px;
    }
}


